{% extends 'common.html' %}
{% block body %}
         
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">NEXT DONATION CAMP</h4>
        <p>
          <div class="alert alert-danger" role="alert">
            Blood Donation camp is going to held soon  <a href="/" class="alert-link">LINK FOR DONATION</a>.This is the link if you want to know more about donation camp
          </div>
          <div class="alert alert-danger" role="alert">
            News about blood donation  <a href="#" class="alert-link">News</a>.
          </div>
        </p>
        <hr>
        <p class="mb-0">Blood donation is a friendly gesture.</p>
      </div>

      <style> 
        body{   
          height: 100%;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          background-position: center;
          background-image: url("{{ url_for('static', filename = 'blood.jpg') }}" );
          backdrop-filter: blur(4px);  
            }

        input[type=button], input[type=submit], input[type=reset] {
          font-size: 1.5rem;
          background-color: #fda0a0;
          border: none;
          color: white;
          padding: 16px 32px;
          text-decoration: none;
          margin: 10px 10px;
          width : 250px;
          cursor: pointer; 
        }

        input[type=submit]:hover {
          font-size: 1.5rem;
           background-color: #fc7474;
        }
  
        form { 
          font-size: 1.5rem;
          margin: 0 auto; 
          width:250px;
 
         }
         .fa {
          font-size: 1.5rem;
          padding: 10px;
          font-size: 25px;
          width: 45px;
          text-align: center;
          text-decoration: none;
          border-radius: 50%;
        }

        /* Add a hover effect if you want */
        .fa:hover {
          opacity: 0.7;
        }

        /* Set a specific color for each brand */

        /* Facebook */
        .fa-facebook {
          background: #3B5998;
          color: white;
        }

        /* Twitter */
        .fa-twitter {
          background: #55ACEE;
          color: white;
        }

        /* Pinterest */
        .fa-pinterest {
          background: #cb2027;
          color: white;
        }

        /* Linkedin */
        .fa-linkedin {
          background: #007bb5;
          color: white;
        }

        p.b { 
          font-size: 1.5rem;
          position: bottom;
          bottom: 80px;
          text-align:center;
          width: 200px;
          height: 20px;
        }

        div.cont{
          font-size: 1.5rem;
          max-width: 200px;
          margin:25px auto 0px auto;

        }
        img{
          position: relative;
          top:65px;
        }
        .imgg{
          position: relative;
          top:145px;
          right:50px;
        }
      </style>

    <h1 style="color:rgb(255, 255, 255); text-align:center">Blood Bank </h1>   
    <form method="POST" action="/">
      <img src= "static/heart.png" alt = "added image"  />
      <img class="imgg" src= "static/heart.png" alt = "added image"  />
        <input style=" font-size:20px; color:rgb(0, 0, 0); text-align:center " type="submit" value="Doner" name="action1" />
      
        <input style=" font-size:20px; color:rgb(0, 0, 0); text-align:center" type="submit" value="Patient" name="action2" />
    </form>
    <div class="container">
        <h3 style="color:rgb(255, 255, 255); text-align:center; " >Blood manegment system</h3>
  
    </div>

      <div class = "cont">
      <p class = 'b' style="color:rgb(255, 255, 255);font-size:18px;">Share our site </p>
      <a href="https://www.facebook.com/"  class="fa fa-facebook"></a>
      <a href="https://www.twitter.com/"  class="fa fa-twitter"></a>
      <a href="https://in.pinterest.com/" class="fa fa-pinterest"></a>
      <a href="https://in.linkedin.com/" class="fa fa-linkedin"></a>
    </div>

    <div class = "dot">
  
       </div>
</body>
</html>

{% endblock body %}