{% extends 'common.html' %}
{% block body %}
<!-- To send request to doner -->
    {% for info in allinfo %}
    <tr>
        <th scope="Sno">{{loop.index}}</th>
        <td>{{info.Donername}}</td>
        <td>{{info.bloodT}}</td>
        <td>{{info.contactME}}</td>
    </tr>
    
    {% endfor %}
        
    <section class="mb-2" >

    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact Admin</h2>
    <p class="text-center w-responsive mx-auto mb-5">Your message will be send to Admin</p>

        <div class="row">
            <div class="col-md-15 mb-md-0 mb-5"> 

                <form id="contact-form" name="contact-form" action = "/" method="POST" class = "form1">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="name" name="name"  value = '{{NAME}}' class="form-control">
                                <label for="name" class="">Your name</label>
                            </div>
                        </div>
                        
                        <div class="col-md-6 ">
                            <div class="md-form mb-0">
                                <input type="text" id="email"  name="email"  value = '{{CONTACT}}' class="form-control">
                                <label for="email" class="">Your email</label>
                            </div>
                        </div>


           

                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="email" name="email" value = "{{ params['admin_email'] }}" class="form-control">
                                <label for="email" class="">Contact information of Admin</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <input type="text" id="subject" name="subject" class="form-control">
                                <label for="subject" class="">Subject</label>
                            </div>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                <label for="message">Your message</label>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="container">  
                        <div class="text-center text-md-left">
                            <a style="margin: 1cm; width: 40%;" class="btn btn-danger" onclick="document.getElementById('contact-form').submit();MYFunction() ">Send</a>
                            <script>
                                function MYFunction() {
                                alert("Your request to delete name is sucessfully send.");
                                }
                            </script>
                        </div>
                    </div>
                    <div class="status"></div>
            </div>
        </div>
    </section>
</body>
</html>

{% endblock body %}